.hex1{
  width:30px;
  height:30px;
    h1{
      color:#fff;
      text-align: center;
      margin-left: -1.1em;
      font-family: 'Arial', sans-serif;
      z-index: 12;
      position: absolute;
      font-size: 0.4em;
      margin-top:30%;
  }
}

.hex2 {
  width: 150px;
  height: 150px;
}

.hex3 {
  width: 200px;
  height: 200px;
}
