@mixin preserve3d{
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hex {
  position: absolute;
   top: 50%;
   left: 50%;

  width: 100px;
  height: 100px;
  margin: -50px;

  text-align: center;
  display: inline-block;

  @include preserve3d;
  h1 {
    color: white;
    text-align: center;
    margin-left: -1.1em;
    font-family: "Arial", sans-serif;
    z-index: 12;
    font-size: 0.4em;
    margin-top: 30%;
  }
}
.hexhover { background-color: #bd0808; }

.hexagon {
  height: 100%;
  width: calc(100% * 0.57735);
  display: inline-block;
  &:before {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: "";
    transform: rotateZ(60deg);
  }
  &:after {
    position: absolute;
    top: 0;
    right: calc((100% / 2) - ((100% * 0.57735) / 2));
    background-color: inherit;
    height: inherit;
    width: inherit;
    content: "";
    transform: rotateZ(-60deg);
  }
}
